<div id="graphTitle">Nombre de secondes nécessaires pour que des mails partant de rezo.net parviennent à ce compte.</div>

<div class="graph" id="graphAccount"></div>

<div id="legend"></div>

<%
   if @show_days
     messages_id = @original_messages_hash.keys
     first_message_date = @original_messages_hash[messages_id.min].sent_at
     last_message_date = @original_messages_hash[messages_id.max].sent_at
   end

   plot_data = []
   @received_messages.each do |received_message|
     original_message = @original_messages_hash.delete(received_message.original_message_id)
     if original_message
       plot_data << [(Integer(Sequel.database_timezone.utc_to_local(original_message.sent_at).to_f) * 1000), received_message.delay]
     end
   end
   miss_data = []
   @original_messages_hash.each_value do |original_message|
     miss_data << [Integer(Sequel.database_timezone.utc_to_local(original_message.sent_at).to_f) * 1000, 0]
   end

%>

<script>
  var accountName = "<%= @account.name %>";
  <%= "var plotData = #{plot_data.to_json};" %>
  <%= "var missData = #{miss_data.to_json};" %>

  <% if @show_days %>
    <% if params[:day] %>
      var showPoints = true;
      <%= "var minDisplayed = Date.UTC(#{first_message_date.strftime("%Y, (%m-1)")}, #{params[:day]}).valueOf();" %>
      var maxDisplayed =  minDisplayed + (24 * 60 * 60 * 1000);
    <% else %>
      var showPoints = false;
      var minDisplayed = null;
      var maxDisplayed = null;
    <% end %>
  <% else %>
    var showPoints = true;
    var minDisplayed = null;
    var maxDisplayed = null;
  <% end %>

  plotAccount();
</script>

<% if @show_days %>
  <fieldset>
      <a href="#" onclick="displayDateAccount(null); return false;">Mois entier</a>
      <% current_day = first_message_date %>
      <% while current_day < (last_message_date + 1) do %>
        <%= "<a href=\"#\" onclick=\"displayDateAccount(Date.UTC(#{current_day.strftime("%Y, (%m-1), %d")}).valueOf());return false;\">#{current_day.strftime("%d")}</a>" %>
        <% current_day += 1 %>
      <% end %>
  </fieldset>
<% end %>

<fieldset>
  <legend>Infos</legend>
  <%= value('Heure de dernière connection', affiche_date_heure(@account.last_connection_date)) %>
  <%= value('Connection réussie', (@account.last_connection_successful ? 'oui' : 'non')) %>
  <% if @account.last_connection_error_message %>
    <%= value_under('Message d\'erreur de connection:', (error_text_2_html(@account.last_connection_error_message))) %>
  <% end %>
  <%= value_checkbox('Activé', @account.enabled) %>
  <%= value('Création', affiche_date_heure(@account.created_at)) %>
</fieldset>

<fieldset>
  <legend>Connection</legend>
  <% if @user_logged %>
    <%= value('Login pop', @account.address) %>
  <% end %>
  <%= value('Serveur pop', @account.server_address) %>
  <% if @user_logged %>
    <%= value('Mot de passe', @account.password) %>
  <% end %>
  <%= value_checkbox('SSL', @account.ssl) %>
  <%= value('Port', @account.port) %>
</fieldset>

<% if @user_logged %>
  <p>
    <a href="/edit_account/<%= @account.name %>">Éditer</a>
    <a href="#" onclick="testAccount('<%= @account.name %>')">Tester</a>
  </p>
<% end %>
<p id="zoneMessage"></p>