<!DOCTYPE html>
<html lang="fr">
<head>
  <link href="/dredd.css" rel="stylesheet" type="text/css"/>
  <title>[dredd] <%= @title %></title>
  <meta charset="utf-8">
  <script src="/jquery.js" type="text/javascript"></script>
  <!--[if IE]><script language="javascript" type="text/javascript" src="excanvas.js"></script><![endif]-->
  <script src="/jquery.flot.js" type="text/javascript"></script>
  <script src="/dredd.js" type="text/javascript"></script>
</head>
<body>
<div id="navigation">
  <a href="/">Messages</a>
  <a href="/about">À propos</a>
  <% if @user_logged %>
    <a href="/admin">Administration</a>
    <a href="/config">Configuration</a>
    <a href="/logout">Logout</a>
  <% else %>
    <a href="/login">Login</a>
  <% end %>
</div>

<div id="lateral">
  <div id="legend"></div>
  <% if @calendar_min_date %>
  <div id="calendarTitle">Historique:</div>
  <ul id="calendar">
    <% if @calendar_min_date %>
      <% target_day = Date.civil(@calendar_min_date.year, @calendar_min_date.month, 1) %>
      <% current_day = Date.civil(Date.today.year, Date.today.month, 1) %>
      <% while current_day >= target_day %>
        <li><%= "<a href=\"#{@calendar_base_url}#{current_day.strftime('%Y/%m')}\">#{current_day.strftime('%m / %Y')}</a>" %></li>
        <% current_day = current_day << 1 %>
      <% end %>
    <% end %>
</ul>
  <% end %>
</div>

<div id="content">

  <% if @title %>
    <div id="title"><%= @title %></div>
  <% end %>

  <%= yield %>
</div>

<div id="messages">
  <% if flash[:error] %>
    <div id="error" class="flash"><%= flash[:error] %></div>
  <% end %>

  <% if flash[:warning] %>
    <div id="warning" class="flash"><%= flash[:warning] %></div>
  <% end %>

  <% if flash[:notice] %>
    <div id="notice" class="flash"><%= flash[:notice] %></div>
  <% end %>
</div>

</body>
</html>