<!DOCTYPE html>
<html lang="fr">
<head>
  <link href="/stylesheet.css" rel="stylesheet" type="text/css"/>
  <title>[dredd] <%= @title %></title>
  <meta charset="utf-8">
  <script src="/jquery.js" type="text/javascript"></script>
  <script src="/dredd.js" type="text/javascript"></script>
</head>
<body>
<div id="navigation">
  <a href="/accounts">Comptes</a>
  <% if @user_logged %>
    <a href="/admin">Administration</a>
    <a href="/config">Configuration</a>
    <a href="/logout">Logout</a>
  <% else %>
    <a href="/login">Login</a>
  <% end %>
</div>
<div id="content">

  <% if @title %>
    <div id="title"><%= @title %></div>
  <% end %>

  <%= yield %>
</div>

<div id="messages">
  <% if flash[:error] %>
    <div id="error" class="flash"><%= flash[:error] %></div>
  <% end %>

  <% if flash[:warning] %>
    <div id="warning" class="flash"><%= flash[:warning] %></div>
  <% end %>

  <% if flash[:notice] %>
    <div id="notice" class="flash"><%= flash[:notice] %></div>
  <% end %>
</div>

</body>
</html>