<fieldset>
  <legend>Infos</legend>
  <% if @user_logged %>
    <%= value('De', @original_message.from) %>
    <%= value('À', @original_message.to) %>
  <% end %>
  <%= value('Envoi', "<a href=\"/message/#{@original_message.sent_at.strftime('%Y/%m/%d')}\">#{affiche_date_heure(@original_message.sent_at, '</a> à ')}") %>

  <% if @original_message.median_time_to_receive %>
    <%= value('Temps médian<a href="http://fr.wikipedia.org/wiki/Médiane_(centre)">?</a>', "#{@original_message.median_time_to_receive}s") %>
  <% end %>
  <% if @slower_received_message %>
    <%= value('Plus lent', "#{@slower_received_message.delay}s pour <a href=\"/account/#{@slower_received_message_account.name}/message/#{Integer(@original_message.sent_at.to_f)}\">#{@slower_received_message_account.name}</a>") %>
  <% end %>

  <br/>

  <%= value('Sujet', @original_message.subject) %>
  <% if @user_logged %>
    <%= value_under('Contenu', @original_message.body) %>
  <% end %>
</fieldset>

<fieldset>
  <legend>Comptes et délai d'arrivée</legend>
  <% @received_messages.each do |received_message_hash| %>
    <%= value("<a href=\"/account/#{received_message_hash[:account].name}/message/#{Integer(@original_message.sent_at.to_f)}\">#{received_message_hash[:account].name}</a>", "#{received_message_hash[:received_messages].delay}s") %>
  <% end %>
</fieldset>
