<fieldset>
  <legend>Infos</legend>
  <% if @user_logged %>
    <%= value('De', @original_message.from) %>
    <%= value('À', @original_message.to) %>
  <% end %>
  <%= value('Envoi', affiche_date_heure(@original_message.sent_at)) %>

  <% if @original_message.average_time_to_receive %>
    <%= value('Temps moyen', "#{@original_message.average_time_to_receive}s") %>
  <% end %>
  <% if @slower_received_message %>
    <%= value('Plus lent', "#{@slower_received_message.delay}s pour <a href=\"received_message/#{@slower_received_message.id}\">#{@slower_received_message_account.name}</a>") %>
  <% end %>

  <br/>

  <%= value('Sujet', @original_message.subject) %>
  <% if @user_logged %>
    <%= value_under('Contenu', @original_message.body) %>
  <% end %>
</fieldset>
<fieldset>
  <legend>Messages reçus</legend>
  <% @received_messages.each do |received_message_hash| %>
    <%= value("<a href=\"/received_message/#{received_message_hash[:received_messages].id}\">#{received_message_hash[:account].name}</a>", "#{received_message_hash[:received_messages].delay}s") %>
  <% end %>
</fieldset>
