<%= value('Nom du compte', @account.name) %>
<% if @user_logged %>
  <%= value('Adresse mail', @account.address) %>
<% end %>
<%= value('Adresse du serveur', @account.server_address) %>
<% if @user_logged %>
  <%= value('Mot de passe', @account.password) %>
<% end %>
<%= value_checkbox('SSL', @account.ssl) %>
<%= value('Port', @account.port) %>
<%= value_checkbox('Activé', @account.enabled) %>
<%= value('Création', affiche_date(@account.created_at)) %>

<p>
  <% if @user_logged %>
    <a href="/edit_account/<%= @account.name %>">Éditer</a>
    <a href="#" onclick="testAccount('<%= @account.name %>')">Tester</a>
  <% end %>
  <a href="/accounts">Liste des comptes</a>
</p>
<p id="zoneMessage"></p>